html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Kisa News

    //- Favicons: https://favicon.io/favicon-generator/
    //- link(rel='apple-touch-icon' sizes='180x180' href='icons/apple-touch-icon.png')
    //- link(rel='icon' type='image/png' sizes='32x32' href='icons/favicon-32x32.png')
    //- link(rel='icon' type='image/png' sizes='16x16' href='icons/favicon-16x16.png')
    //- link(rel='icon' href='icons/favicon.ico')

    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')

    //- link(rel='stylesheet' href='styles.css')
    //- script(src='rss.global.min.js')

  body
    nav.navbar.navbar-expand.title-nav
      .container
        h1.navbar-brand.mb-0 기사
        .collapse.navbar-collapse.justify-content-between
          .navbar-text
            span.small.text-uppercase Kisa News 
          .edition
            .navbar-text
              span.small.text-uppercase
                span#edition 
                span  Edition
    nav.navbar.navbar-light.navbar-expand.settings-nav
      .container
        .collapse.navbar-collapse.justify-content-around
          .navbar-text
            span.lead.small.text-uppercase.font-weight-light.futura Sprache
            select.custom-select.custom-select-sm#lang
              option(value='de') de
              option(value='fr') fr
              option(value='en') en
              option(value='it') it
              option(value='ja') ja
          .navbar-text
            span.lead.small.text-uppercase.font-weight-light.futura Land
            select.custom-select.custom-select-sm#country
              //- G7
              option(value='DE') DE
              option(value='FR') FR
              option(value='GB') GB
              option(value='IT') IT
              option(value='US') US
              option(value='JP') JP
              option(value='CA') CA


    .container.my-3
      h3.international International
      .international
      h3.national National
      .national
      h3.local Lokal
        span
          a.btn.btn-link.btn-sm#loc 📍
      .local
    
      template#layout-template
        .row.ml-4.mr-1
          ul.list-unstyled {entries}
    
      template#entry-template
        li.media.my-2
          .media-body
            span.lead.small.text-uppercase.font-weight-light.futura {lead}
            a(href='{url}' title='{escapedTitle}').text-reset
              h5.headline.mt-0.mb-1 {headline}
            p.text-muted {source}

      footer.small.text-muted.mb-5
        p
          span#blacklist
          |  wurden als Quellen ausgeschlossen.
          br
          a(href='/impressum').text-reset Impressum.
        