.title-nav {
  color: white;
  background: black;
}
.settings-nav {
  background: white;
  border-bottom: 1px solid black;
} 

.lead-line {
  text-transform: uppercase;
}
.headline, .futura {
  font-family: 'Futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}